*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    width: 100%;
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
}

.detail{
    width: 100%;
    padding: 25px 50px 50px;
}
