*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f3eee4;
}

header{
    background-color: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-container{
    width: 100%;
    max-width: 1440px;
    /* background-color: #fafafa; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8%;
}
.logo a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color:rgba(233, 23, 23, 0.85);
    transition: all 0.2s ease;
}
.logo a:hover{
    color: rgba(233, 23, 23, 0.85);
}
nav{
    display: flex;
    gap: 24px;
}
nav a{
    text-decoration: none;
    color: #555555;
    transition: all 0.2s ease;


}
nav a:hover{
    color:rgba(233, 23, 23, 0.85);
    text-decoration: underline;
}

.icon{
    display: none;
}

@media(max-width: 768px){
    .header-container{
        position: relative;
    }
    .icon{
        display: block;
        font-size: 24px;
    }
    .icon:hover{
        color:rgba(233, 23, 23, 0.85);
    }
    
    nav{
        background-color: #f3eee4;
        position: absolute;
        width: 260px;
        right: -260px;
        top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding: 20px;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 4px gray;
    }
    nav.active{
        transform: translateX(-260px);
    }
    nav a:hover{
        text-decoration: underline;
        color: rgba(233, 23, 23, 0.85);
    }
}

/* ==================== Hero Section ======================*/
.hero{
    /* background-color: lightblue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    /* background-color: gray; */
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
}
.hero-detail{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.8s ease;

}

.hero-detail h1{
    color: rgba(233, 23, 23, 0.85);
}
.hero-detail h3{
    margin-top: 4px;
    color: #7b7b7b;
}
.hero-detail p{
    margin-top: 8px;
    color: #555555;
}
.hero-detail button{
    margin-top: 32px;
    padding: 8px 32px;
    background-color: rgba(233, 23, 23, 0.85);
    border: none;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.hero-detail button:hover{
    background-color: rgba(233, 23, 23, 0.85);
    cursor: pointer;
    box-shadow: 0px 2px 4px red;

}
.hero-image{
    width: 50%;
}
.hero-image div{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    overflow: hidden;
}

.hero-image div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.8s ease;
}

@media(max-width: 768px){
    .hero{
        margin-top: 60px;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-image{
        order: -1;
        width: 80%;
        /* background-color: gray; */
    }
    .hero-detail{
        width: 100%;
    }

}

/* ===================== Category Section ====================*/
.category{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category h1{
    text-align: center;
    margin: 20px 0px;
}
.category-container{
    /* background-color: blue; */
    margin-top: 40px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
}
.cate-card{
    /* background-color: green; */
    width: 25%;
    min-width: 250px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 4px;
    height: 530px;
    transition: all 0.2s ease;
}
.cate-card:hover{
    box-shadow:0px 0px 5px red;
    cursor: pointer;
    transform: translateY(-8px)
}
.cate-card div{
    overflow: hidden;
}
.image div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}


.cate-card .detail{
    /* background-color: red; */
    color: #555555;
    text-align: start;
    padding-left: 9px;
}
.detail .price{
    color: red;
}
.detail p i{
    color: orange;
}

@media(max-width: 768px){
    .category-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 60px 4px;

    }
}

footer{
    margin: 40px 0px 0px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.footer-con{
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    color: white;
    text-align: center;
}
